@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.content {
  display : absolute;
  border:  2px ;
}


.card.in.visible {
  opacity: 1;
  transform: translateY(0);
}